* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-align: center;
}

.logo  {
    text-align: center;
}

.logo  img {
    max-width: 50%; 
    max-height: 300px;
}

body {
    background-color: #0c1218;
}

.content {
    width: 100vw;
    height: 70%;
    padding: 1rem;
    background-color: #fff;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
    
}